.FuelTank
  padding: 0 16px
  @at-root
    .FuelTank_list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      gap: 16px
      @at-root
        .FuelTank_item
          display: flex
          flex-direction: column
          align-items: center
          gap: 15px
          @at-root
            .FuelTank_image
              width: 60px
              font-size: 0
              line-height: 0
              @at-root
                .FuelTank_img
                  width: 100%
            .FuelTank_capacity
              font-weight: 700
              font-size: 12px
              line-height: 1
              letter-spacing: 0.1em

