.Results
  @at-root
    .Results_wrap
      background-color: rgba(white, .6)
      border-radius: 8px
      padding: 16px
      display: grid
      grid-template-columns: 2fr 2fr 1fr
      gap: 16px
      min-height: 200px
      @at-root
        .Results_cell
          display: flex
          flex-direction: column
          gap: 16px

          &.-selected
            // TODO: フロート化により、ここにあるのは不適切なので、移動させる。
            position: fixed
            top: 0
            left: 50lvw
            z-index: 1000
            width: 100lvw
            height: 100lvh
            transform: translateX(50lvw)
            background-color: rgba(#171932, .8)
            color: white
            padding: 16px
            border-radius: 8px 0 0 8px
            gap: 16px
            transition: transform .1s ease-in-out
            &.-show
              transform: translateX(415px)

          &.-steam
            grid-area: 1/1/2/3
            min-height: 130px
          &.-fuel
            grid-area: 1/1/2/2
            min-height: 130px
          &.-oxidizer
            grid-area: 1/2/2/3
            min-height: 130px
          &.-thruster
            grid-area: 1/3/2/4
            min-height: 130px
          &.-amount
            grid-area: 2/1/3/4
            flex-direction: row
            align-items: center
            gap: 16px
        .Results_title
          border-left: 4px solid #F14846
          padding-left: 8px
          font-style: normal
          font-weight: 700
          font-size: 16px
          line-height: 1
          letter-spacing: .04em
        .Results_content
          display: flex
          align-items: center
          font-size: 16px
          line-height: 1
          gap: 8px
          &.-unreached
            font-size: 32px
            line-height: 0.8
            letter-spacing: .08em
            font-weight: 700
