.SelectedModules
  @at-root
    .SelectedModules_list
      list-style: none
      margin: 0
      padding: 0
      @at-root
        .SelectedModules_item
          display: flex
          align-items: center
          gap: 8px
          @at-root
            .SelectedModules_name
              flex: 1 1 1px
            .SelectedModules_number
              display: block