.Header
  font-family: var(--font-barriecito)
  font-style: normal
  font-weight: 700
  line-height: 1
  color: #F8F8F8
  display: grid
  grid-template-areas: "heading version" "usage usage"
  gap: 0 16px
  justify-content: start
  align-items: baseline
  @at-root
    .Header_heading
      grid-area: heading
      display: flex
      flex-direction: column
      font: inherit
      min-width: 0
    .Header_name
      font-size: 24px
      letter-spacing: 0.1em
    .Header_title
      font-size: 64px
    .Header_version
      grid-area: version
      font-size: 24px
      align-self: end
    .Header_usage
      grid-area: usage
      font-family: var(--font-mplus)
      font-size: 16px
      display: flex
      gap: 8px
      letter-spacing: .1em
      align-items: center
    .Header_desktopUsage
      display: flex
      align-items: center
      gap: 8px
    .Header_touchUsage
      display: none

