.page
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr auto
  grid-template-areas: "main" "footer"
  width: 100%
  height: 100%
.main
  grid-area: main
  display: flex
  justify-content: center
  align-items: center
  background:
    color: #333
    image: url("/assets/images/img_bg.webp")
    size: cover
    position: center

.wrapper
  display: grid
  grid-template-columns: 800px auto 1fr
  grid-template-rows: auto auto auto
  grid-template-areas: "heading reset copyright" "content distance rocket" "results distance rocket"
  gap: 8px 24px
  box-sizing: border-box
  padding: 48px 48px 0 48px

  max-width: 1280px

.heading
  grid-area: heading

.reset
  grid-area: reset
.copyright
  grid-area: copyright
.content
  grid-area: content
  padding: 16px 0
.distance
  grid-area: distance
.rocket
  grid-area: rocket
  align-content: end
.results
  grid-area: results
.footer
  grid-area: footer
