.footer
  display: flex
  flex-wrap: wrap
  align-items: center
  background-color: #05030E
  padding: 2px 0
  font-size: 0.875rem
  font-family: var(--font-barriecito)
  color: #666
.links
  flex: 1 1 auto
.wrap
  &:hover
    .anchor
      letter-spacing: .2em
.anchor
  padding: 0 1rem
  text-decoration: none
  color: #999
  transition: letter-spacing .1s ease-in-out
  letter-spacing: .1em

@media (max-width: 1099px)
  .footer
    padding: 8px
    gap: 8px
  .links
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 8px 0
  .anchor
    padding: 4px 8px
    display: inline-block
