.MemorySlots
  display: flex
  flex-wrap: wrap
  align-items: center
  gap: 6px

.MemorySlots_item
  position: relative
  display: flex
  border-radius: 8px
  box-shadow: 0 4px 0 rgba(0,0,0,1)
  background-color: #eee
  transition: all .1s ease

  &:hover
    box-shadow: 0 2px 0 rgba(0,0,0,.5)
    transform: translateY(2px)
    background-color: #fff

    .MemorySlots_button
      color: #E4801D

  &.-active
    background-color: #E4801D

    .MemorySlots_button,
    .MemorySlots_reset
      color: #fff

.MemorySlots_button
  cursor: pointer
  min-width: 58px
  padding: 8px 24px 8px 10px
  border: none
  border-radius: 8px
  background: transparent

  font-family: var(--font-mplus)
  font-weight: 700
  font-size: 14px
  line-height: 1
  color: #333

  transition: all .1s ease

.MemorySlots_reset
  cursor: pointer
  position: absolute
  top: 50%
  right: 4px
  display: flex
  align-items: center
  justify-content: center
  width: 18px
  height: 18px
  padding: 0
  border: none
  border-radius: 50%
  background: transparent

  font-family: var(--font-mplus)
  font-weight: 700
  font-size: 14px
  line-height: 1
  color: #666

  transform: translateY(-50%)
  transition: all .1s ease

  &:hover
    background-color: rgba(0,0,0,.16)
    color: #E4801D

  &:focus-visible
    outline: 2px solid #fff
    outline-offset: -2px

.MemorySlots_button
  &:focus-visible
    outline: 2px solid #fff
    outline-offset: -4px

  &:hover
    color: #E4801D
