.ModuleSelector
  display: flex
  flex-wrap: wrap
  gap: 32px 32px

@media (min-width: 1100px) and (max-width: 1399px), (min-width: 1100px) and (max-height: 850px)
  .ModuleSelector
    gap: 20px

@media (max-width: 1099px)
  .ModuleSelector
    display: flex
    flex-direction: column
    gap: 24px
